.timer {
  display: flex;
  justify-content: center;
}

.field {
  padding: 30px;
  background-color: #443f3f;
  border: 2px solid;
  color: seashell;
}

.value {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
